---
import Hero from '../components/Hero.astro'
import Layout from '../layouts/Base.astro'
import { formatDate } from '../utils/dates.js'

function toSlug(post: { url: string }) {
    const url = new URL(post.url)
    return url.toString().replace('https://api.navillus.dev/BlogPosting/', '')
}

function comparator(a: any, b: any) {
    return (
        new Date(b.datePublished).getTime() -
        new Date(a.datePublished).getTime()
    )
}

const posts = await fetch('https://api.navillus.dev/BlogPosting.jsonld').then(
    (res) => res.json()
)
---

<Layout>
    <Hero
        title="The Navillus Blog"
        subtitle="JAMSTACK DEVELOPERS FOR HIRE"
        content="Exploring the Jamstack and the future of web development."
    />
    <ul>
        {
            posts['@graph'].sort(comparator).map((post: any) => (
                <li>
                    <a href={`/blog/${toSlug(post)}`}>{post.name}</a>
                    <br />
                    <small style="margin-left: var(--gap-base);">
                        by {post.author.name} • {formatDate(post.datePublished)}
                    </small>
                </li>
            ))
        }
    </ul>
</Layout>

<style>
    ul {
        display: flex;
        flex-direction: column;
        gap: var(--gap-lg);
    }
</style>
